<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <title>{% if page.title %}{{ page.title }} | {% endif %}de·crypto</title>
        <link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔐</text></svg>'>
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
        <link rel='stylesheet' href='{{ get_url(path='main.css', trailing_slash=false) }}'>
    </head>
    <body>
        <header id='header' class='text-center'>
            <h1><a href='/'>de·crypto</a></h1>
            <p>decentralized academic research group<br />
               towards digital democracy</p>
            <nav id='header-nav'>
                <ul class='nav justify-content-center'>
                    {% for pg in config.extra.ourpages %}
                    <li class='navitem'>
                        {% if current_path == pg.path %}
                        <strong class='nav-link'>{{ pg.title }}</strong>
                        {% else %}
                        <a class='nav-link' href='/{{ pg.path }}'>{{ pg.title }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            <!-- <p>
                <a href='' class='btn btn-primary'>Meet the team</a>
            </p> -->
        </header>
        <main class='container'>
            {% block content %}
            <h2>Our group</h2>
            <p>
                Decrypto is a decentralized and independent research group
                focusing on blockchain research. We run semester-long research
                projects in affiliation with many universities. Many of our
                research papers have stemmed out of bachelor or master theses.
                Our work is peer-reviewed and appears in many top conferences
                of the field.
            </p>
            <h2>Seminar</h2>
            <p>
                We run <a href='/seminar'>a weekly seminar</a> in which
                leading researchers in the field present a research-level
                topic in the field of blockchain science. Our seminars are
                held online and are open to all.
            </p>
            <h2>Theses Internships</h2>
            <p>
                Decrypto is inviting senior undergraduate and graduate
                students to conduct their Bachelor and Master theses
                with us in a series of research-level topics.
                <a href='/proposals'>Browse the topics and apply</a>.
            </p>

            <h3>Papers</h3>
            <ul>
                {% for paper in section.extra.papers %}
                    <li>
                        {% if paper.venue %}
                            {% set suffix="" %}
                        {% else %}
                            {% set suffix="," %}
                        {% endif %}
                        <a href='{{ paper.link }}'>{{ paper.title }}</a><br />
                        {{ paper.authors }}{{ suffix }}
                        {% if paper.venue %}
                            at <strong>{{ paper.venue }}</strong>
                        {% endif %}
                        {{ paper.year }}
                    </li>
                {% endfor %}
            </ul>

            <h3>Theses</h3>
            <ul>
                {% for thesis in section.extra.theses %}
                    <li>
                        <a href='{{ thesis.link }}'>{{ thesis.title }}</a><br />
                        {{ thesis.author }}, {{ thesis.level }} Thesis {{ thesis.year }},
                        <strong>{{ thesis.institution }}</strong>
                    </li>
                {% endfor %}
            </ul>
            {% endblock content %}
        </main>
        <footer id='footer' class='text-center fixed-bottom'>
            <div class='support'>
                <p>Decrypto is an independent research group focused
                   on blockchain research.<br />Our group consists of researchers from
                   the University of Athens, the University of Edinburgh, IST Austria,
                   ETH Zurich, and many other universities and companies around the world.
                </p>
                <!-- <p>We're always looking for new funding partnerships.</p> -->
                <!-- <a href='#' class='btn btn-primary'>Support us</a> -->
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script data-goatcounter="https://decrypto.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    </body>
</html>
